DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DB?schema=public"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:5432/DB"

JWT_SECRET="change_me"
JWT_REFRESH_SECRET="change_me"

CLOUDINARY_URL="cloudinary://API_KEY:API_SECRET@CLOUD_NAME"

SEED_SECRET="change_me"

SEED_SUPER_ADMIN_EMAIL="superadmin@example.com"
SEED_SUPER_ADMIN_PASSWORD="StrongPasswordHere"
SEED_SUPER_ADMIN_NAME="Super Admin"

SEED_ADMIN_EMAIL="admin@example.com"
SEED_ADMIN_PASSWORD="StrongPasswordHere"
SEED_ADMIN_NAME="Admin"

SEED_CONTENT_ADMIN_EMAIL="content@example.com"
SEED_CONTENT_ADMIN_PASSWORD="StrongPasswordHere"
SEED_CONTENT_ADMIN_NAME="Content Admin"

